<!-- <div class="course-container">
  <h1>Course List</h1>

  <div *ngIf="isAdmin" class="add-course">
    <input [(ngModel)]="newCourse.title" placeholder="Course Title" />
    <input
      [(ngModel)]="newCourse.description"
      placeholder="Course Description"
    />
    <button (click)="addCourse()">Add Course</button>
  </div>

  <div class="course-list">
    <div *ngFor="let course of courses" class="course-card">
      <div class="course-details">
        <div *ngIf="isAdmin">
          <input
            [(ngModel)]="course.title"
            (change)="updateCourse(course)"
            placeholder="Course Title"
          />
          <input
            [(ngModel)]="course.description"
            (change)="updateCourse(course)"
            placeholder="Course Description"
          />
          <button
            (click)="course.id !== undefined ? deleteCourse(course.id) : null"
          >
            Delete
          </button>
        </div>
        <div *ngIf="!isAdmin">
          <h2>{{ course.title }}</h2>
          <p>{{ course.description }}</p>
        </div>
        <button
          class="enroll-button"
          (click)="course.id !== undefined ? enroll(course.id) : null"
        >
          Enroll
        </button>
      </div>
    </div>
  </div>
</div> -->

<div class="course-container">
  <h1>Course List</h1>

  <div *ngIf="isAdmin" class="add-course">
    <input [(ngModel)]="newCourse.title" placeholder="Course Title" />
    <input
      [(ngModel)]="newCourse.description"
      placeholder="Course Description"
    />
    <button (click)="addCourse()">Add Course</button>
  </div>

  <div class="course-list">
    <div *ngFor="let course of courses" class="course-card">
      <div *ngIf="isAdmin" class="course-details">
        Title:
        <input
          [(ngModel)]="course.title"
          class="input-title"
          placeholder="Course Title"
        />
        Description:
        <input
          [(ngModel)]="course.description"
          class="input-description"
          placeholder="Course Description"
        />
        <div class="button-group">
          <button
            (click)="course.id !== undefined ? updateCourse(course) : null"
          >
            Update
          </button>
          <button
            (click)="course.id !== undefined ? deleteCourse(course.id) : null"
          >
            Delete
          </button>
        </div>
      </div>

      <div *ngIf="!isAdmin">
        <h2>{{ course.title }}</h2>
        <p>{{ course.description }}</p>
        <button
          class="enroll-button"
          (click)="course.id !== undefined ? enroll(course.id) : null"
        >
          Enroll
        </button>
      </div>
    </div>
  </div>
</div>
